<h1>Editing card column</h1>

<%= render "form", card_column: @card_column %>

<br>

<div>
  <%= link_to "Show this card column", @card_column %> |
  <%= link_to "Back to card columns", card_columns_path %>
</div>
