<p style="color: green"><%= notice %></p>


<div id="card_columns" class="card-wall">
  <% @card_columns.each do |card_column| %>
    <%= render card_column %>
  <% end %>
  <%= link_to "+", new_card_column_path %>
</div>
