<div class="card-wall">
  <div class="lane">
    <div class="lane-name">
      To Do
    </div>
    <div class="card">
      <details>
        <summary>Title Here</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus neque erat, laoreet vitae diam at,
          sollicitudin
          tempor ex. Quisque tristique massa massa, at consectetur ipsum blandit vel. Nam facilisis lacus eu neque
          pharetra,
          ut eleifend nulla lacinia. Ut commodo risus ut est vehicula, varius tempus ligula porttitor.</p>
      </details>
    </div>
  </div>

  <div class="lane">
    <div class="lane-name">
      Doing
    </div>
    <div class="card">
      <details>
        <summary>Title Here</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus neque erat, laoreet vitae diam at,
          sollicitudin
          tempor ex. Quisque tristique massa massa, at consectetur ipsum blandit vel. Nam facilisis lacus eu neque
          pharetra,
          ut eleifend nulla lacinia. Ut commodo risus ut est vehicula, varius tempus ligula porttitor.</p>
      </details>
    </div>
  </div>
</div>