<div id="<%= dom_id card %>">
  <p>
    <strong>Card column:</strong>
    <%= card.card_column_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= card.body %>
  </p>

</div>
